/* General styles */
body {
    font-family: Arial, sans-serif;
    background-color: white;
    margin: 4;
    padding: 2;
}

/* Header styles */
header {
    background-color: #2e71a5;
    color: white;
    text-align: center;
    padding: 15px;
    font-size: 24px;
}

/* Styling the buttons */
.button-container {
    text-align: center;
    margin-top: 20px;
}

.button {
    background-color: #2e71a5;
    border: none;
    color: white;
    padding: 15px 32px;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
    border-radius: 8px;
}

.button:hover {
    background-color: #226598;
}
